/*
 
*/
.nomSite{
    display: flex;
    justify-content: center;
}

nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banniere {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 35vh;
}

.banniere .text {
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    color: black;
    width: 70%;
}
.hypertext {
    color: #efeeef;
}

.blanc{
    color: #eee;
}





.log{
    display: flex;
    
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
  
    background: rgba(28, 23, 72, 0.8);
}
.color{

    background-color: #110728;
    color: #eee;


}

.tete{
    display: flex;
    justify-content: space-around;
    margin-top: 1vh;
}


/*
  Le div directement sous la section nous permet 
  de créer une boite avec une couleur d’arrière-plan
  et une bordure.
*/
.log div{
    width: 450px;
  
    margin: auto;
  
    padding: 20px;

    text-align: center;

    
    border-radius: 5px;

}

/*
    Nous plaçons les éléments à l’intérieur du formulaire
    en « flexbox » sur une seule colonne.
*/
  .log form{
    display: flex;
    flex-direction: column;
}


form input[type="password"], 
form input[type="text"], 
form button[type="submit"] {
    width: 100%;
  
    margin-bottom: 32px;
    padding: 10px;
    border-radius: 12px;

}


/*
    Mises-en forme du bouton pour l’envoi du formulaire.
*/
form button[type="submit"] {
    font-weight: bold;
    color: #eee;

    background-color: #e67e22;
}




/*
  bas de la page
*/


footer{
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;


}
 footer div{

    width: 50%;
 }

 .b{

    color: #8f8aa7;
    
 }

 .info{
    color: orange;
 }






