.container{
    width: 70%;
    margin: auto;
}
/* sert a centré l'entièreté de la page */
.name, .email{
    width: 46%;
    background-color: gray;
    /*paramétre qui permet aligner et de paramétré les deux bloc du même nom */
    
}
.sujet, .message{
    width: 99%;
    margin: 20px 0 0;
    background-color: gray;
    /* les paramètre du bloc sujet dans le formulaire */

}
.message{
    width: 99%;
    height: 150px;
    border-radius: 5px;
    background-color: gray;
    /* gros blocs de texte avec marqué message */
}
.icone{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 4vh auto 10vh;
    text-align: center;
}

.Iicone{
    text-align: center;
}
/* les trois image plus le texte en dessous */
.contact{
    width: 50%;
}
/*formulaire en entier*/
.PE{
    display: flex ;
    justify-content: space-between;
    width: 99%;
    /* Prénom + contact dans le formulaire */

}
.name, .email, .sujet, .bouton{
    border-radius: 5px;
    height: 5vh;
}
.bouton{
    width: 26%;
    margin : 10px 0 0 0 ;
    background-color: orange;
    /* bouton = envoyer */

}
.img{
    border-radius: 50%;
}
/* arrondie sur image */

::placeholder{
    color: white;   
}
/* met tous le texte du formulaire en blanc*/
img{
    background-color: white;

}

