*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}

/* Header */
body{
    background-color: #110728;
    color: #eee;
}

a{
    color: white;
    text-decoration: none;
}

nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Hheader{
    width: 50%;
    margin: auto;
}

.Llien{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.nomSite{
    display: flex;
    justify-content: center;
    color: #eee;
}

.text h1{
    color: white;
}

.banniere {
    display: inline-block;
    position: relative;
}

.banniere, .Banniere{
    width: 100%;
    height: 35vh;
}
.banniere .text {
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    color: black;
    width: 70%;
}


/*
  bas de la page
*/


footer{
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;
    background: rgba(28, 23, 72, 0.8);
    height: 40vh;

}
footer .iconlien{
    width: 50%;
 }

.Coordonne{
    margin: auto;
    width: 50%;
    padding: 0 10vh;
}

.b{
    color: #8f8aa7;
}

.info{
    color: orange;
}
