*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}

/* Header */
body{
    /* background-image: url("./images/téléchargement.jpeg");
    background-attachment:fixed;
    background-repeat:no-repeat;
    image-resolution: 100%;*/
    background-color: blueviolet;
}
nav{
    align-items: center;
}
header{
    color: black;
}
a{
    color: black;
    text-decoration: none;
}

nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
}

.nomSite{
    display: flex;
    justify-content: center;
}

.banniere {
    display: inline-block;
    position: relative;
}

.banniere, img{
    width: 100%;
    height: 35vh;
}
.banniere .text {
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    color: black;
    width: 70%;
}

/* Body Inscription */

form{
    width: 40%;
    margin: 5vh auto;
}

.pseudo, .email, .password{
    width: 100%;
    height: 3vh;
    margin-bottom: 3vh;
}

button{
    margin: 0 30vh;
    width: 15%;
}

