/* Body */

.name, .email{
    width: 47%;
    height: 15px;
}
.sujet{
    width: 100%;
    height: 15px;
}
.message{
    width: 100%;
    height: 150px;
}
.icone{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 5vh auto;
}

.Iicone{
    text-align: center;
}

.img{
    width: 33%;
    color: white;
    margin: auto;
    text-align: center;
}
.contact{
    margin :auto;
    width: 50%;
}
.PE{
    display: flex ;
    justify-content: space-between;

}

