/* Body Jeux */
.container{
    width: 80%;
    margin: auto;
}

.arti{
    margin: 5vh auto 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.NiveauJeu{
    text-decoration: none;
    color: black;
}

.lvl{
    width: 33%;
}

.Chronometre{
    color: aliceblue;
    background-color: #110728;
}

.Jeu{
    border-collapse: collapse;
    width: 50%;
    height: 15vh;
    margin: 10vh auto;
    text-align: center;
}

.cartes{
    width: 50%;
    height: auto;
}

td{
    border: 2px solid white;
}

th{
    border: 2px solid white;
}