.container{
    width: 100%;
   
}

.Titre{
    text-align: center;
    margin: 3vh auto;
}

.AvaScore{
    display: flex;
    flex-direction: row;
}

.Score{
    width: 100%;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td{
    border: 2.1px solid rgb(166, 161, 161) ;
    text-align: center;
}

.AvaPro{
    width: 80%;
    margin: 5vh auto;
}

.Avatar{
    display: flex;
    flex-direction: column;
    width: 30%;

}



.avatarFile{
    width: 100%;
}



form{
    width: 70%;
    margin: 4vh auto;
}

.mod{
    background-color: #2a3858;

}

.formulaire{
    width: 50%;
    margin-bottom: 32px;
    padding: 7px;
    border-radius: 12px;
    margin: 0 0 1vh 0;
}

.submitt{
    width: 50%;
}

div button{
    font-weight: bold;
    color: #eee;
    background-color: #e67e22;
    width: 100%;
    margin : 2vh 0 0 0;
    padding: 8px;
    border-radius: 12px;
}